@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --dark: #091a40;
  --primary: #640bda;
  --trans: all 0.2s ease-in-out;
  --border: 3px solid var(--dark);
  --radius: 4px;
  --font: 'Righteous', cursive;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font);
  color: var(--dark);
}

/* header */

header{
  display:flex;
  align-items: center;
  justify-content:space-between
}

.logo{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  padding-left: 170px;
  padding-top:15px;
  font-size:26px;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content:center;
  gap:25px;
  padding-right: 170px;
  padding-top:15px;
}
/* general */
a {
  text-decoration: none;
  color: var(--dark);
  transition: var(--trans);
}

a:hover {
  color: var(--primary);
}

/* grid */
.main {
  min-height: calc(100vh - 164px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 5%;
}

/* footer */
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 20px;
  border: var(--border);
  padding-left: 2rem;
}
